// Quasar SCSS variables (@quasar/options > sassVariables)
// Habr-like palette

$primary:   #e8591c;
$secondary: #5e9e57;
$accent:    #3d80ad;

$dark:      #1b1f23;
$dark-page: #121618;

$positive:  #4e8f52;
$negative:  #cf4647;
$info:      #31ccec;
$warning:   #f2c037;
